#root2 {
    fx-accent: black;
     -fx-focus-color: rgb(60, 63, 43);
    -fx-base: rgb(60, 63, 65);
    -fx-background: rgb(60, 63, 65);
    -fx-control-inner-background:  rgb(60, 63, 65);
}



#buttonBar .button {
    -fx-background-color: transparent;
}

#buttonBar .button:hover {
    -fx-background-color: rgb(91, 93, 95);
    -fx-border-color:white;
}
.highlight {
   -fx-border-radius: 10 10 10 10;
   -fx-background-radius: 10 10 10 10;
}

#chrono {
    -fx-border-radius: 5px;
    -fx-padding: 0px;
}

#start {
    -fx-border-radius: 5px;
        -fx-padding: 4px;
}

#stop {
    -fx-border-radius: 5px;
    -fx-padding: 4px;
}

#saveP {
    -fx-border-radius: 5px;
    -fx-padding: 2.8px;
}

#openModule {
    -fx-border-radius: 5px;
    -fx-padding: 2.8px;
}

#new {
    -fx-border-radius: 5px;
    -fx-padding: 2.8px;
}

#open {
    -fx-border-radius: 5px;
    -fx-padding: 2px;
}

#separator1 *.line {
       -fx-effect: dropshadow(three-pass-box, WHITE, 1, 0, 0, 0);
}

.verticalSeparator *.line {
    -fx-border-style: dashed;
    -fx-border-color: white;
    -fx-border-width: 0 0.5 0 0;
}

.mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.menu-bar {
    -fx-background-color: transparent;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: rgba(60, 63, 70, 0.2);
}
.menu-item:hover {
    -fx-background-color: rgba(62, 122, 143, 0.7);
}
.context-menu {
    -fx-background-color: rgba(60, 63, 70, 1);
}

.menu:hover, .menu:showing{
  -fx-background-color: rgba(62, 122, 143, 1);
}

.menu:showing {
    -fx-background-color: rgba(62, 122, 143, 1);
}

#workSpace {
    -fx-background-color: rgb(43, 43, 43);
}

.tree-cell .arrow {
    -fx-shape: null;
    -fx-background-color: null;
}

/*#quitter {
-webkit-appearance: none;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
-webkit-writing-mode: horizontal-tb;
-fx-background-attachment: scroll;
-fx-background-clip: border-box;
-fx-background-color: rgb(29, 161, 242);
-fx-background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0470588));
-fx-background-origin: padding-box;
-fx-background-repeat: no-repeat;
-fx-background-size: auto;
-fx-border-bottom-color: rgb(59, 136, 195);
-fx-border-bottom-left-radius: 4px;
-fx-font-family: Arial, sans-serif;
-fx-font-size: 14px;
-fx-font-style: normal;
}

#quitter:hover {
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
    -webkit-writing-mode: horizontal-tb;
    -fx-align-items: flex-start;
    -fx-background-attachment: scroll;
    -fx-background-clip: border-box;
    -fx-background-color: rgb(29, 100, 255);
    -fx-background-origin: padding-box;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-border-bottom-color: rgb(29, 100, 255);
    -fx-border-bottom-left-radius: 4px;
    -fx-border-right-color:rgb(29, 100, 255);
}*/

#quitter, .toggle-button {
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-color: -fx-hover-base;
  -fx-background-radius: 0;
  -fx-text-fill: white;
}

#quitter:pressed, .toggle-button:selected {
  -fx-background-color: GREEN,  -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-color: -fx-hover-base;
  -fx-background-insets: 0, 0 0 0 3;
}

#annuler, .toggle-button {
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-color: -fx-hover-base;
  -fx-background-radius: 0;
  -fx-text-fill: white;
}

#annuler:pressed, .toggle-button:selected {
  -fx-background-color: GREEN,  -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-color: -fx-hover-base;
  -fx-background-insets: 0, 0 0 0 3;
}

.table-view {
-fx-table-cell-border-color:derive(-fx-base,+10%);
-fx-table-header-border-color:derive(-fx-base,+20%);
}

.table-view .cell:pressed, .cell:hover, .cell:focused {
    -fx-background-color: rgba(62, 122, 143, 0.7);
}

.split-pane:horizontal > * > .split-pane-divider {
-fx-border-color: transparent -fx-base transparent -fx-base;
-fx-background-color: transparent, derive(-fx-base,20%);
-fx-background-insets: 0, 0 1 0 1;
}

/*--------------------------*/
/* The main scrollbar **track** CSS class  */

.scroll-bar-vertical .track{
    -fx-opacity: 0;
}


/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
 {
	-fx-shape: " ";
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-opacity: 0.4;
    -fx-background-color:derive(gray,30%);
	-fx-background-insets: 0, 0, 0, 0;
	-fx-background-radius: 0em;

}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-opacity: 0.9;
    -fx-background-color:GRAY;
	-fx-background-insets: 1;
	-fx-background-radius: 0em;
}

.tab-pane {
    -fx-tab-min-height: 2.5em;
    /* 24 */

    -fx-tab-max-height: 2.5em;
    /* 24 */
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #EBEAF0;
}
.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: rgb(60, 62, 63);
}
.tab:selected {
    -fx-background-color: rgb(81, 86, 88);
}
.tab:focused {
    -fx-focus-color: transparent;
}
.tab {
    -fx-padding: 0 10 0 10;
}

//-----------------

.titled-pane > .title > .arrow-button .arrow {
  -fx-background-color: transparent;
}

//------------------

.tab-pane *.tab-header-background {
    -fx-background-color: rgb(60, 62, 63);
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}

.tab-pane:right *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane:bottom *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.choice-box {-fx-color: rgb(81, 86, 88);}
// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color: rgb(81, 86, 88); }
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: rgb(60, 62, 63); }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: white; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.tree-view, .tree-cell {
    -fx-background-color: rgb(43, 43, 43) ;
    -fx-text-fill: white ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: rgb(60, 62, 63); ;
}

.tree-cell:selected {
    -fx-background-color: rgb(60, 62, 63); ;
    -fx-font-weight: bold ;
}


.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}